@charset "UTF-8";
/*
===============
GOOGLE FONTS
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*
===============
VARIABLES CSS
===============
*/
/*
===============
COLORS
===============
*/
/*
===============
FONT AND SIZE
===============
*/
/*
===============
FONT WEIGHT
===============
*/
/*
===============
TRANSITION
===============
*/
/*
===============
SPACING
===============
*/
/*
===============
HOVER OVERLAY
===============
*/
/*
===============
Responsive Desine
===============
*/
.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

@media only screen and (min-width: 767px) {
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
}
/*
===============
body
===============
*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif; */
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

/* common */
.big-title {
  display: block;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 48px;
  background-color: #1e588b;
  background-image: url(../img/service/thirdimg-pc.png);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}
@media screen and (min-width: 767px) {
  .big-title {
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 90px;
  }
}

.large-text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 48px;
  margin-left: 5px;
  color: #121212;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .large-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 90px;
    margin-left: 10px;
  }
}

.contents-text {
  width: auto;
  font-size: 0.75rem;
  margin: 0 5px;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
header .header-block {
  display: flex;
}
header .header-block h1 {
  margin-top: 24px;
  margin-left: 9px;
}
@media screen and (min-width: 767px) {
  header .header-block h1 {
    margin-top: 20px;
    margin-left: 30px;
  }
}
header .header-block nav {
  display: flex;
  margin-left: auto;
  margin-right: 9px;
  /* ハンバーガーメニュー */
}
@media screen and (min-width: 767px) {
  header .header-block nav {
    margin-right: 49px;
  }
}
header .header-block nav img {
  width: 18px;
  height: 18px;
  margin-top: 60px;
}
header .header-block nav p {
  margin-top: 33px;
  margin-left: 12px;
  margin-right: 87px;
  text-align: center;
  font-size: 0.875rem;
  color: #FFFFFF;
}
header .header-block nav p span {
  display: block;
  margin-top: 5px;
  font-size: 1.5rem;
}
header .header-block nav .menu-btn {
  margin-top: 31px;
  width: 34.86px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  header .header-block nav .menu-btn {
    margin-top: 54px;
    width: 60px;
  }
}
header .header-block nav .menu-btn span {
  content: "";
  display: block;
  height: 1px;
  width: 34.86px;
  background-color: #121212;
  position: absolute;
}
@media screen and (min-width: 767px) {
  header .header-block nav .menu-btn span {
    width: 60px;
  }
}
header .header-block nav .menu-btn span:after {
  content: "";
  display: block;
  height: 1px;
  width: 29.05px;
  background-color: #121212;
  position: absolute;
}
@media screen and (min-width: 767px) {
  header .header-block nav .menu-btn span:after {
    width: 50px;
  }
}
header .header-block nav .menu-btn span:after {
  top: 10px;
  right: 13.95px;
}
@media screen and (min-width: 767px) {
  header .header-block nav .menu-btn span:after {
    right: 20px;
  }
}

/* mainvisual */
.mainvisual-section {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url(../img/service/topimg-sp.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 767px) {
  .mainvisual-section {
    height: 650px;
    background-image: url(../img/service/topimg-pc.png);
  }
}
.mainvisual-section .background-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 100%;
  text-align: center;
  background-color: rgba(2, 48, 89, 0.6);
}
@media screen and (min-width: 767px) {
  .mainvisual-section .background-top {
    height: 650px;
  }
}
.mainvisual-section .background-top .mainvisual-class1 {
  margin-top: 247px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.mainvisual-section .background-top .mainvisual-class1 .toptitle {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .mainvisual-section .background-top .mainvisual-class1 .toptitle {
    font-size: 6.25rem;
  }
}
.mainvisual-section .background-top .mainvisual-class1 .smalltitle {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}
.mainvisual-section .background-top .left-border {
  width: 33%;
  height: 1px;
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
}
.mainvisual-section .background-top .right-border {
  width: 1px;
  height: 35%;
  border-left: 1px solid #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* ssection2 */
.section2 {
  width: 100%;
  height: 336px;
  background-image: url(../img/service/secondimg-sp.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0.875rem;
  font-weight: 400;
}
@media screen and (min-width: 767px) {
  .section2 {
    height: 300px;
    background-image: url(../img/service/secondimg-pc.jpg);
    font-size: 1rem;
  }
}
.section2 .section2-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #121212;
  padding: 20px 0;
  line-height: 36px;
  white-space: nowrap;
}
@media screen and (min-width: 767px) {
  .section2 .section2-text {
    padding: 60px 0;
    line-height: 36px;
  }
}

.section3 {
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 767px) {
  .section3 {
    margin-top: 150px;
  }
}
.section3 .large-text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .section3 .large-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 24px;
  }
}
.section3 .section3-box {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  padding-left: 12.14px;
}
@media screen and (min-width: 767px) {
  .section3 .section3-box {
    flex-flow: row;
    margin-top: 50px;
  }
}
.section3 .section3-box img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section3 .section3-box .section3-list {
  width: 100%;
  padding-right: 47px;
}
.section3 .section3-box .section3-list ul li {
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 35px;
}
@media screen and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li {
    width: 100%;
    height: 92px;
    padding-left: 44px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 30px;
    background-color: #EDF2FB;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 767px) and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li img {
    width: 40px;
    height: 40px;
    margin: auto 0;
  }
}
@media screen and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li .ajust-text {
    margin-top: 15px;
  }
}
@media screen and (min-width: 767px) and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li .ajust-text {
    margin-top: 0px;
  }
}
@media screen and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li p {
    margin-top: 3px;
    margin-left: 10px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 767px) and (min-width: 767px) {
  .section3 .section3-box .section3-list ul li p {
    margin-top: 0px;
    margin-left: 33px;
    line-height: 92px;
  }
}

.section4 {
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .section4 {
    margin-top: 150px;
  }
}
.section4 .section-top {
  display: flex;
}
@media screen and (min-width: 767px) {
  .section4 .section-top {
    margin-left: 120px;
  }
}
.section4 .section-top .big-title {
  margin-left: 5px;
}
.section4 .section-top .large-text {
  padding-top: 5px;
}
.section4 .section4-mainbox {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox {
    margin-top: 50px;
    flex-flow: row;
    position: relative;
  }
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
    max-height: 364px;
    margin-right: 8%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section4 .section4-mainbox .section4-subbox {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #EDF2FB;
  color: #121212;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox {
    height: 300px;
    align-items: normal;
    padding-left: 190px;
    margin-right: 365px;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox1 {
  width: 300px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox1 {
    width: 100%;
    margin: 25px 0;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox1 p {
  border: 1px solid #121212;
  padding: 10px 17px;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox1 p {
    margin-right: 150px;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox2 {
  width: 300px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox2 {
    width: 100%;
    margin: 25px 0;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox2 p {
  border: 1px solid #121212;
  padding: 10px 29px;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox2 p {
    margin-right: 150px;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox3 {
  width: 300px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox3 {
    width: 100%;
    margin: 25px 0;
  }
}
.section4 .section4-mainbox .section4-subbox .section4-subbox3 p {
  border: 1px solid #121212;
  padding: 10px 29px;
}
@media screen and (min-width: 767px) {
  .section4 .section4-mainbox .section4-subbox .section4-subbox3 p {
    margin-right: 150px;
  }
}

.section5 {
  margin-top: 35px;
}
@media screen and (min-width: 767px) {
  .section5 {
    margin-top: 107px;
  }
}
.section5 .section-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section5 .section-top {
    justify-content: flex-end;
    align-items: normal;
    margin-right: 120px;
  }
}
.section5 .section-top .big-title {
  margin-left: 5px;
}
.section5 .section-top .large-text {
  padding-top: 5px;
}
.section5 .section5-mainbox {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox {
    margin-top: 50px;
    flex-flow: row;
    position: relative;
  }
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 500px;
    max-height: 364px;
    margin-left: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section5 .section5-mainbox .section5-subbox {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #023059;
  color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox {
    height: 300px;
    align-items: normal;
    padding-right: 188px;
    margin-left: 365px;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox1 {
  width: 330px;
  display: flex;
  justify-content: end;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox1 {
    width: 100%;
    margin: 15px 0;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox1 p {
  border: 1px solid #FFFFFF;
  padding: 7px 7px;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox1 p {
    margin-left: 150px;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox2 {
  width: 330px;
  display: flex;
  justify-content: end;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox2 {
    width: 100%;
    margin: 15px 0;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox2 p {
  border: 1px solid #FFFFFF;
  padding: 7px 10px;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox2 p {
    margin-left: 150px;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox3 {
  width: 330px;
  display: flex;
  justify-content: end;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox3 {
    width: 100%;
    margin: 15px 0;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox3 p {
  border: 1px solid #FFFFFF;
  padding: 7px 9px;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox3 p {
    margin-left: 150px;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox4 {
  width: 330px;
  display: flex;
  justify-content: end;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox4 {
    width: 100%;
    margin: 15px 0;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox4 p {
  border: 1px solid #FFFFFF;
  padding: 7px 17px;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox4 p {
    margin-left: 150px;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox5 {
  width: 330px;
  display: flex;
  justify-content: end;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox5 {
    width: 100%;
    margin: 15px 0;
  }
}
.section5 .section5-mainbox .section5-subbox .section5-subbox5 p {
  border: 1px solid #FFFFFF;
  padding: 7px 5px;
}
@media screen and (min-width: 767px) {
  .section5 .section5-mainbox .section5-subbox .section5-subbox5 p {
    margin-left: 150px;
  }
}

.section6 {
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .section6 {
    margin-top: 107px;
  }
}
.section6 .section-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section6 .section-top {
    justify-content: flex-start;
    align-items: normal;
    margin-left: 120px;
  }
}
.section6 .section-top .big-title {
  margin-left: 5px;
}
.section6 .section-top .large-text {
  padding-top: 5px;
}
.section6 .section6-mainbox {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox {
    margin-top: 50px;
    flex-flow: row;
    position: relative;
  }
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
    max-height: 364px;
    margin-right: 8%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section6 .section6-mainbox .section6-subbox {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #EDF2FB;
  color: #121212;
  padding-left: 40px;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox {
    height: 300px;
    align-items: normal;
    padding-left: 190px;
    margin-right: 365px;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox1 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox1 {
    width: 100%;
    margin: 25px 0;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox1 p {
  border: 1px solid #121212;
  padding: 10px 5px;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox1 p {
    margin-right: 150px;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox2 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox2 {
    width: 100%;
    margin: 25px 0;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox2 p {
  border: 1px solid #121212;
  padding: 10px 10px;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox2 p {
    margin-right: 150px;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox3 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox3 {
    width: 100%;
    margin: 25px 0;
  }
}
.section6 .section6-mainbox .section6-subbox .section6-subbox3 p {
  border: 1px solid #121212;
  padding: 10px 10px;
}
@media screen and (min-width: 767px) {
  .section6 .section6-mainbox .section6-subbox .section6-subbox3 p {
    margin-right: 150px;
  }
}

.section7 {
  margin-top: 35px;
}
@media screen and (min-width: 767px) {
  .section7 {
    margin-top: 107px;
  }
}
.section7 .section-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section7 .section-top {
    justify-content: flex-end;
    align-items: normal;
    margin-right: 120px;
  }
}
.section7 .section-top .big-title {
  margin-left: 5px;
}
.section7 .section-top .large-text {
  padding-top: 5px;
}
.section7 .section7-mainbox {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox {
    margin-top: 50px;
    flex-flow: row;
    position: relative;
  }
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 500px;
    max-height: 364px;
    margin-left: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section7 .section7-mainbox .section7-subbox {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #023059;
  color: #FFFFFF;
  padding-left: 30px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox {
    height: 300px;
    align-items: normal;
    padding-right: 188px;
    margin-left: 365px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox1 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox1 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox1 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox1 p {
    margin-left: 150px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox2 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox2 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox2 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox2 p {
    margin-left: 150px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox3 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox3 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox3 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox3 p {
    margin-left: 150px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox4 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox4 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox4 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox4 p {
    margin-left: 150px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox5 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox5 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox5 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox5 p {
    margin-left: 150px;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox6 {
  width: 330px;
  display: flex;
  margin: 5.5px 0;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox6 {
    width: 100%;
    margin: 8px 0;
  }
}
.section7 .section7-mainbox .section7-subbox .section7-subbox6 p {
  border: 1px solid #FFFFFF;
  padding: 7px 20px;
}
@media screen and (min-width: 767px) {
  .section7 .section7-mainbox .section7-subbox .section7-subbox6 p {
    margin-left: 150px;
  }
}

.contact-section {
  margin-top: 43px;
}
@media screen and (min-width: 767px) {
  .contact-section {
    margin-top: 150px;
  }
}
.contact-section .large-text {
  line-height: 20px;
}
@media screen and (min-width: 767px) {
  .contact-section .large-text {
    line-height: 48px;
  }
}
.contact-section .contact-block {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #023059;
}
@media screen and (min-width: 767px) {
  .contact-section .contact-block {
    width: 1000px;
    height: 298px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }
}
.contact-section .contact-block .contact-text {
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 25px;
  color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .contact-section .contact-block .contact-text {
    padding-top: 70px;
    font-size: 1rem;
    font-weight: 400;
  }
}
.contact-section .contact-block .contact-button {
  margin: 0 auto;
  margin-top: 16px;
  width: 181px;
  height: 30px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .contact-section .contact-block .contact-button {
    margin-top: 60px;
    width: 482px;
    height: 71px;
  }
}
.contact-section .contact-block .contact-button p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 30px;
}
@media screen and (min-width: 767px) {
  .contact-section .contact-block .contact-button p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 71px;
  }
}

footer {
  background-color: #EDF2FB;
}
footer .footer-block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 41px;
}
@media screen and (min-width: 767px) {
  footer .footer-block {
    flex-flow: row;
    justify-content: flex-start;
    align-items: normal;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 11px;
  }
}
footer .footer-block .footer-logo {
  width: 161px;
  height: 100px;
  background-color: #023059;
  padding-top: 20px;
}
footer .footer-block .footer-logo img {
  margin: 0 auto;
}
footer .footer-block .footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 26px;
  color: #121212;
  margin-top: 22px;
  padding: 0 20px;
}
@media screen and (min-width: 767px) {
  footer .footer-block .footer-text {
    font-size: 0.875rem;
    margin-top: 40px;
    padding: 0 25px;
  }
}
footer .footer-list {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 21px;
  margin-top: 56px;
}
footer .footer-list li {
  margin-left: 21px;
  padding-right: 50px;
}
footer .footer-end {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 21px;
  color: #121212;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.15);
  padding-top: 27px;
}
@media screen and (min-width: 767px) {
  footer .footer-end {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0px;
    height: 80px;
    margin-right: 61px;
  }
}
@media screen and (min-width: 767px) {
  footer .footer-end li {
    padding-right: 56px;
  }
}
footer .footer-tel {
  margin-top: 38px;
  width: 100%;
  height: 55px;
  background-color: #023059;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-tel p {
  margin-left: 7px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #EDF2FB;
}
footer .footer-tel p span {
  font-size: 1rem;
  font-weight: 400;
  color: #EDF2FB;
}/*# sourceMappingURL=service_style.css.map */