@charset "UTF-8";

/*
===============
GOOGLE FONTS
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*
===============
VARIABLES CSS
===============
*/
  $header-height: 2rem;

/*
===============
COLORS
===============
*/

  $black-color: #121212;;
  $white-color: #FFFFFF;
  $first-color: #EDF2FB;;
  $second-color: #023059;;
  $third-color: #837349;

/*
===============
FONT AND SIZE
===============
*/
  $main-font: 'Noto Sans JP', sans-serif;
  $sub-font1: 'Zen Kaku Gothic New', sans-serif;
  $sub-font2: 'Poppins', sans-serif;

  // 100px
  $font-size1: 6.25rem;
  // 24px
  $font-size2: 1.5rem;
  // 16px
  $font-size3: 1rem;
  // 14px
  $font-size4: 0.875rem;
  // 12px
  $font-size5: 0.75rem;

/*
===============
FONT WEIGHT
===============
*/
  $font-medium: 400;
  $font-bold: 700;

/*
===============
TRANSITION
===============
*/

  $transition: all 0.3s linear;

/*
===============
SPACING
===============
*/

  $spacing: 0.25rem;

/*
===============
HOVER OVERLAY
===============
*/

  // $img-transition: ;
  // $img-hidden: hidden;
  // $img-scale: ;

// @media screen and (min-width: 968px) {
//   :root {
//     --biggest-font-size: 4rem;
//     --h1-font-size: 2.25rem;
//     --h2-font-size: 1.75rem;
//     --h3-font-size: 1.25rem;
//     --normal-font-size: 1rem;
//   }
// }

/*
===============
Responsive Desine
===============
*/
    $pc: 767px;

    @mixin pc {
        @media screen and (min-width: $pc) {
            @content;
        }
    } 

    .sp { display: block !important; }
    .pc { display: none !important; }

@media only screen and (min-width: 767px) {
    .sp { display: none !important; }
    .pc { display: block !important; }
}

/*
===============
body
===============
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: $main-font;
    font-weight: $font-medium;
    font-style: normal;
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif; */
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

/* common */
.big-title {
    display: block;
    font-family: $sub-font1;
    font-size: 50px;
    font-weight: $font-bold;
    line-height: 48px;
    background-color: #1e588b;
    background-image: url(../img/service/thirdimg-pc.png);
    background-clip: text;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;

    @include pc {
        font-size: $font-size1;
        font-weight: $font-bold;
        line-height: 90px;
    }
}

.large-text {
    font-size: $font-size3;
    font-weight: $font-bold;
    line-height: 48px;
    margin-left: 5px;
    color: $black-color;
    text-align: center;

    @include pc {
        font-size: $font-size2;
        font-weight: $font-bold;
        line-height: 90px;
        margin-left: 10px;
    }
}

.contents-text {
    width: auto;
    font-size: $font-size5;
    margin: 0 5px;
}

// .section-subtitle {
//     text-align: center;
//     margin-top: 80px;
//     font-size: 24px;
//     font-weight: 700;
//     line-height: 48px;
// }

// header
header {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;

    .header-block {
        display: flex;
        
        h1 {
            margin-top: 24px;
            margin-left: 9px;
            @include pc {
                margin-top: 20px;
                margin-left: 30px;
            }
        }

        nav {
            display: flex;
            margin-left: auto;
            margin-right: 9px;
            @include pc {
                margin-right: 49px;
            }

            img {
                width: 18px;
                height: 18px;
                margin-top: 60px;
                
            }

            p {
                // width: 100%;
                margin-top: 33px;
                margin-left: 12px;
                margin-right: 87px;
                text-align: center;
                font-size: $font-size4;
                color: $white-color;

                span {
                    display: block;
                    margin-top: 5px;
                    font-size: $font-size2;
                }
            }

            /* ハンバーガーメニュー */
            .menu-btn {
                margin-top: 31px;
                width: 34.86px;
                @include pc {
                    margin-top: 54px;
                    width: 60px;
                }
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 34.86px;
                    @include pc {
                        width: 60px;
                    }
                    background-color: $black-color;
                    position: absolute;
                }

                span:after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 29.05px;
                    @include pc {
                        width: 50px;
                    }
                    background-color: $black-color;
                    position: absolute;
                }
                
                span:after {
                    top: 10px;
                    right: 13.95px;
                    @include pc {
                        right: 20px;
                    }
                }
            }
        }
    }
}

/* mainvisual */
.mainvisual-section {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url(../img/service/topimg-sp.png);
    @include pc {
        height: 650px;
        background-image: url(../img/service/topimg-pc.png);
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .background-top {
        position: absolute;
        top: 0;
        left: 0;
        height: 550px;
        @include pc {
            height: 650px;
        }
        width: 100%;
        text-align: center;
        background-color: rgba(2, 48, 89, 0.6);
        

        .mainvisual-class1 {
            margin-top: 247px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            .toptitle {
                font-family: $sub-font1;
                font-size: $font-size2;
                @include pc {
                    font-size: $font-size1;
                }
                font-weight: $font-bold;
                color: $white-color;
            }

            .smalltitle {
                margin-top: 10px;
                font-size: $font-size3;
                font-weight: $font-bold;
                color: white;
            }
        }

        .left-border {
            width: 33%;
            height: 1px;
            border-bottom: 1px solid $white-color;
            position: absolute;
            top: 50%;
            left: 0;
        }

        .right-border {
            width: 1px;
            height: 35%;
            border-left: 1px solid $white-color;
            position: absolute;
            bottom: 0;
            left: 50%;
        }
    }
}

/* ssection2 */
.section2 {
    width: 100%;
    height: 336px;
    background-image: url(../img/service/secondimg-sp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: $font-size4;
    font-weight: $font-medium;

    @include pc {
        height: 300px;
        background-image: url(../img/service/secondimg-pc.jpg);
        font-size: $font-size3;
    }

    .section2-text {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: $black-color;
        padding: 20px 0;
        line-height: 36px;
        white-space: nowrap;

        @include pc {
            padding: 60px 0;
            line-height: 36px;
        }
    }
}

// section3
.section3 {
    width: 100%;
    margin-top: 50px;
    @include pc {
        margin-top: 150px;
    }

    .large-text {
        font-size: $font-size3;
        font-weight: $font-bold;
        line-height: 20px;
        text-align: center;

        @include pc {
            font-size: $font-size2;
            font-weight: $font-bold;
            line-height: 24px;
        }
    }

    .section3-box {
        display: flex;
        flex-flow: column;
        margin-top: 30px;
        padding-left: 12.14px;

        @include pc {
            flex-flow: row;
            margin-top: 50px;
        }

        img {
            object-fit: contain;
        }

        .section3-list {
            width: 100%;
            padding-right: 47px;

            ul {
    
                li {
                    display: flex;
                    font-size: $font-size4;
                    font-weight: $font-medium;
                    line-height: 20px;
                    margin-bottom: 35px;
        
                    @include pc {
                        width: 100%;
                        height: 92px;
                        padding-left: 44px;
                        font-size: $font-size4;
                        font-weight: $font-medium;
                        line-height: 30px;
                        background-color: $first-color;
                        margin-bottom: 28px;

                        img {
                            @include pc {
                                width: 40px;
                                height: 40px;
                                
                                margin: auto 0;
                            }
                        }

                        .ajust-text {
                            margin-top: 15px;
    
                            @include pc {
                                margin-top: 0px;
                            }
                        }
            
                        p {
                            margin-top: 3px;
                            margin-left: 10px;
                            white-space: nowrap;
    
                            @include pc {
                                margin-top: 0px;
                                margin-left: 33px;
                                line-height: 92px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// section4
.section4 {
    margin-top: 20px;

    @include pc {
        margin-top: 150px;
    }

    .section-top {
        display: flex;

        @include pc {
            margin-left: 120px;
        }

        .big-title {
            margin-left: 5px;
        }
        .large-text {
            padding-top: 5px;
        }
    }

    .section4-mainbox {
        margin-top: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        @include pc {
            margin-top: 50px;
            flex-flow: row;
            position: relative;
        }

        img {
            @include pc {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 500px;
                max-height: 364px;
                margin-right: 8%;
                object-fit: contain;
            }
        }

        .section4-subbox {
            width: 100%;
            height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $first-color;
            color: $black-color;

            @include pc {
                height: 300px;
                align-items: normal;
                padding-left: 190px;
                margin-right: 365px;
            }

            .section4-subbox1 {
                width: 300px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 17px;
                    
                    @include pc {
                        margin-right: 150px;
                    }
                }
            }

            .section4-subbox2 {
                width: 300px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 29px;

                    @include pc {
                        margin-right: 150px;
                    }
                }
            }

            .section4-subbox3 {
                width: 300px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 29px;

                    @include pc {
                        margin-right: 150px;
                    }
                }
            }
        }
    }
}

// section5
.section5 {
    margin-top: 35px;

    @include pc {
        margin-top: 107px;
    }

    .section-top {
        display: flex;
        justify-content: center;
        align-items: center;
        

        @include pc {
            justify-content: flex-end;
            align-items: normal;
            margin-right: 120px;
        }

        .big-title {
            margin-left: 5px;
        }
        .large-text {
            padding-top: 5px;
        }
    }

    .section5-mainbox {
        margin-top: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        @include pc {
            margin-top: 50px;
            flex-flow: row;
            position: relative;
        }

        img {
            @include pc {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 500px;
                max-height: 364px;
                margin-left: 10px;
                object-fit: contain;
            }
        }

        .section5-subbox {
            width: 100%;
            height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $second-color;
            color: $white-color;

            @include pc {
                height: 300px;
                align-items: normal;
                padding-right: 188px;
                margin-left: 365px;
            }

            .section5-subbox1 {
                width: 330px;
                display: flex;
                justify-content: end;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 15px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 7px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section5-subbox2 {
                width: 330px;
                display: flex;
                justify-content: end;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 15px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 10px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section5-subbox3 {
                width: 330px;
                display: flex;
                justify-content: end;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 15px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 9px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section5-subbox4 {
                width: 330px;
                display: flex;
                justify-content: end;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 15px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 17px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section5-subbox5 {
                width: 330px;
                display: flex;
                justify-content: end;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 15px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 5px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }
        }
    }
}

// section6
.section6 {
    margin-top: 20px;

    @include pc {
        margin-top: 107px;
    }

    .section-top {
        display: flex;
        justify-content: center;
        align-items: center;

        @include pc {
            justify-content: flex-start;
            align-items: normal;
            margin-left: 120px;
        }

        .big-title {
            margin-left: 5px;   
        }
        .large-text {
            padding-top: 5px;
        }
    }

    .section6-mainbox {
        margin-top: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        @include pc {
            margin-top: 50px;
            flex-flow: row;
            position: relative;
        }

        img {
            @include pc {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 500px;
                max-height: 364px;
                margin-right: 8%;
                object-fit: contain;
            }
        }

        .section6-subbox {
            width: 100%;
            height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $first-color;
            color: $black-color;
            padding-left: 40px;

            @include pc {
                height: 300px;
                align-items: normal;
                padding-left: 190px;
                margin-right: 365px;
            }

            .section6-subbox1 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 5px;

                    @include pc {
                        margin-right: 150px;
                    }
                }
            }

            .section6-subbox2 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 10px;

                    @include pc {
                        margin-right: 150px;
                    }
                }
            }

            .section6-subbox3 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 25px 0;
                }

                p {
                    border: 1px solid $black-color;
                    padding: 10px 10px;

                    @include pc {
                        margin-right: 150px;
                    }
                }
            }
        }
    }
}

// section7
.section7 {
    margin-top: 35px;

    @include pc {
        margin-top: 107px;
    }

    .section-top {
        display: flex;
        justify-content: center;
        align-items: center;

        @include pc {
            justify-content: flex-end;
            align-items: normal;
            margin-right: 120px;
        }

        .big-title {
            margin-left: 5px;
        }
        .large-text {
            padding-top: 5px;
        }
    }

    .section7-mainbox {
        margin-top: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        @include pc {
            margin-top: 50px;
            flex-flow: row;
            position: relative;
        }

        img {
            @include pc {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 500px;
                max-height: 364px;
                margin-left: 10px;
                object-fit: contain;
            }
        }

        .section7-subbox {
            width: 100%;
            height: 250px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $second-color;
            color: $white-color;
            padding-left: 30px;

            @include pc {
                height: 300px;
                align-items: normal;
                padding-right: 188px;
                margin-left: 365px;
            }

            .section7-subbox1 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section7-subbox2 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section7-subbox3 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section7-subbox4 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section7-subbox5 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }

            .section7-subbox6 {
                width: 330px;
                display: flex;
                margin: 5.5px 0;

                @include pc {
                    width: 100%;
                    margin: 8px 0;
                }

                p {
                    border: 1px solid $white-color;
                    padding: 7px 20px;

                    @include pc {
                        margin-left: 150px;
                    }
                }
            }
        }
    }
}


// CONTACT
.contact-section {
    margin-top: 43px;

    @include pc {
        margin-top: 150px;
    }

    .large-text {
        line-height: 20px;

        @include pc {
            line-height: 48px;
        }
    }

    .contact-block {
        width: 100%;
        height: 160px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        background-color: $second-color;

        @include pc {
            width: 1000px;
            height: 298px;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
        }

        .contact-text {
            display: inline-block;
            text-align: left;
            padding-top: 10px;
            font-size: $font-size5;
            font-weight: $font-medium;
            line-height: 25px;
            color: $white-color;

            @include pc {
                padding-top: 70px;
                font-size: $font-size3;
                font-weight: $font-medium;
            }
        }

        .contact-button {
            margin: 0 auto;
            margin-top: 16px;
            width: 181px;
            height: 30px;
            background-color: $white-color;

            @include pc {
                margin-top: 60px;
                width: 482px;
                height: 71px;
            }
            
            p {
                font-size: $font-size5;
                font-weight: $font-medium;
                line-height: 30px;

                @include pc {
                    font-size: $font-size2;
                    font-weight: $font-medium;
                    line-height: 71px;
                }
            }
        }
    }
}

// フッター
footer {
    background-color: $first-color;

    .footer-block {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 41px;

        @include pc {
            flex-flow: row;
            justify-content: flex-start;
            align-items: normal;
            padding-top: 30px;
            padding-bottom: 0px;
            padding-left: 11px;
        }

        .footer-logo {
            width: 161px;
            height: 100px;
            background-color: #023059;
            padding-top: 20px;

            img {
                margin: 0 auto;
            }
        }

        .footer-text {
            font-family: $sub-font2;
            font-size: $font-size5;
            font-weight: $font-medium;
            line-height: 26px;
            color: $black-color;
            margin-top: 22px;
            padding: 0 20px;

            @include pc {
                font-size: $font-size4;
                margin-top: 40px;
                padding: 0 25px;
            }
        }
    }

    .footer-list {
        display: flex;
        font-family: $sub-font2;
        font-size: $font-size5;
        font-weight: $font-medium;
        line-height: 21px;
        margin-top: 56px;

        li {
            margin-left: 21px;
            padding-right: 50px;
            
        }

    }

    .footer-end {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-family: $sub-font2;
        font-size: $font-size5;
        font-weight: $font-medium;
        line-height: 21px;
        color: $black-color;
        box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.15);
        padding-top: 27px;

        @include pc {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            align-items: center;
            padding-top: 0px;
            height: 80px;
            margin-right: 61px;
        }

        li {
            @include pc {
                padding-right: 56px;
            }
        }
    }

    .footer-tel {
        margin-top: 38px;
        width: 100%;
        height: 55px;
        background-color: $second-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            margin-left: 7px;
            font-size: $font-size5;
            font-weight: $font-medium;
            color: $first-color;
            
            span {
                font-size: $font-size3;
                font-weight: $font-medium;
                color: $first-color;
            }
        }
        
    }
}